
/* body{
    background:#061430;
    color:rgba(255,255,255, 0.7);
}

h1,h2,h3,h4,h5,h6{
    color:#fff
} */



.bg-primary{
    background-color:#161d42 !important
}

.bg-primary:hover{
    background-color: #061430 !important;
    border-color: #061430 !important;
}
